<launch> 

  <!-- JOYSTICK DEMO -->

  <include file="$(find rosserial_vex_v5)/launch/minimal_robot.launch" pass_all_args="true"/>

  <!-- the degug port, using screen to interface with -->
  <node pkg="joy" type="joy_node" name="recievejoystickinput">
    <param name="autorepeat_rate" value="30" />
  </node>
</launch>
